<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect </property>
		<property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver </property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/playjava </property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hbm2ddl.auto">create</property> 
		
		<mapping class="com.ydr.playjava.ProfessorsO2M" />
		<mapping class="com.ydr.playjava.SubjectsM2O" />
		
		<!--<mapping class="com.ydr.playjava.Professors" />  -->
		<!-- <mapping class="com.ydr.playjava.Subjects" /> -->
		<!-- <mapping class="com.ydr.playjava.Demo" />-->
		<!--<mapping class="com.ydr.playjava.Professor" /> -->
		<!--<mapping class="com.ydr.playjava.Subject" /> -->
		<!--<mapping resource="playjava.hbm.xml"/> -->
		

	</session-factory>

</hibernate-configuration>